@font-face {  
  font-family: 'pingfang-light';
  src: url('../fonts/PingFang-SC-Light.ttf');
}

@font-face {  
  font-family: 'pingfang-bold';
  src: url('../fonts/PingFang-SC-Bold.ttf');
}

@font-face {  
  font-family: 'pingfang-regular';
  src: url('../fonts/PingFang-SC-Regular.ttf');
}

@font-face {  
  font-family: 'pingfang-medium';
  src: url('../fonts/PingFang-SC-Medium.ttf');
}

.font-light {
  font-family: 'pingfang-light' 
}

.font-bold {
  font-family: 'pingfang-bold' 
}

.font-regular {
  font-family: 'pingfang-regular' 
}

.font-medium {
  font-family: 'pingfang-medium' 
}